/* General */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0vw;
    padding: 0vw;
    box-sizing: 	border-box;
}

.navbar {
    background-color: lightblue;
}

nav a {
    font-size: 1.5vw;
}

nav a:hover {
    transform: scale(1.2);
}

.navbar-nav {
    margin-left: auto;
}  

h7 {
    font-style: italic;
}

#buttons {
    font-size: 1vw;
}

header {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.4)), url("./images/bg-blue.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
    color: #fff;
    padding-top: 12vh;
    padding-bottom: 6vh;
    text-align: center;
}

main {
    margin: 3vh auto;
    max-width: 70vw;
    padding: 2vw;
    background-color: #f2f2f2;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
}

/* disscussion board */
.question {
    background-color: #fff;
    padding: 2vw;
    margin-bottom: 2vh;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
}
.question h2 {
    margin-top: 0;
}
.question p {
    margin-top: 1vh;
    margin-bottom: 0;
}
.rating {
    display: flex;
    align-items: center;
    margin-top: 1vh;
}
.rating label {
    margin-right: 1vw;
}
.rating input[type="radio"] {
    display: none;
}
.rating label:before {
    content: "\2606";
    font-size: 2vw;
    color: #ddd;
}
.rating input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: #ffcc00;
}

/* Profile */

#profile {
    font-size: 12vh;
    color: lightblue;
}

.aboutMe {
    margin: auto auto;
}

.aboutMe td {
 padding-left: 2vw;
 padding-right: 2vw;
 font-size: 1.5vw;
}

#name {
    text-align: center;
    font-size: 2vw;
}

.card.profile {
    margin: auto auto;
    height: 44vh;
    min-width: 20vw;
}

/* Prizes */
.card.prize {
    padding: 1vw;
    height: 45vh;
    width: 20vw;
    margin: auto auto;
}
  
.card img {
    height: 40vh;
}

#prize-section {
    margin: auto auto;
}

.card-text {
    text-align: center;
}

/* Leaderboard */
#leaderboard {
    margin: auto auto;
}

#leaderboard td {
    padding: 1vw;
    font-size: 2vw;
}

.bi-star, .bi-star-fill {
    color: gold;
}

.bi-trophy-fill {
    font-size: 3vw; 
    color: lightblue;
}

/* registration */

#inputs {
    text-align:center; 
    font-size: 1vw;
}

/* disscussion board */
.discussion-post-form {
    background-color: #fff;
    padding: 1vw;
    border-radius: .5vw;
    box-shadow: 0 .1vw .2vw rgba(0, 0, 0, 0.1);
  }
  
.form-title {
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 3vh;
  }
  
label {
    display: block;
    margin-bottom: 1vh;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    padding: .5vw;
    border: .01vw solid #ccc;
    border-radius: .3vw;
    margin-bottom: 2.5vh;
  }
  
.btn {
    background-color: #008CC6;
    color: #fff;
    border: none;
    border-radius: .3vw;
    padding: 1.3vh .7vw;
    font-size: 1vw;
    cursor: pointer;
  }

#role {
    display:inline-block;
}

