body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

nav a {
    font-size: large;
}

nav a:hover {
    transform: scale(1.2);
}

h7 {
    font-style: italic;
}

header {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.4)), url("images/bg-blue.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 40px;
    text-align: center;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.question {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.question h2 {
    margin-top: 0;
}
.question p {
    margin-top: 10px;
    margin-bottom: 0;
}
.rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.rating label {
    margin-right: 10px;
}
.rating input[type="radio"] {
    display: none;
}
.rating label:before {
    content: "\2606";
    font-size: 20px;
    color: #ddd;
}
.rating input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: #ffcc00;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
    width: 85%;
    height: 8   0%;
}

